<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="inner"><a routerLink="route-a">Route 1</a></div>
    <div class="inner"><a routerLink="route-b">Route 2</a></div>
    <div class="inner"><a routerLink="route-c">Route 3</a></div>
    <div class="inner"><a routerLink="route-d">Route 4</a></div>
    <div class="inner"><a routerLink="route-e">Route 5</a></div>
    <div class="inner"><a routerLink="route-f">Route 6</a></div>
</nav>
<!-- <h2>Output</h2> -->
<router-outlet></router-outlet>